<div class="sidebar-container">
  <div style="display:flex; flex-direction:column; height:100%;">
    <div class="sidebar-logo-small">
      <img src="https://{{@root.globals.filesRoot}}/{{@root.application.id}}/kanarra-logo-small.png">
    </div>
    <div style="display:flex; flex-direction:column; flex-basis:100%; min-height:0;">
      <div>
        <p class="sidebar-header">
          Device Groups
        </p>
      </div>
      <div style="flex-grow:1; min-height:0; height:100%; position:relative;">
        <form style="height:100%; min-height:0;" method="POST" action="/">
          <div style="height: 100%; display:flex; flex-direction:column;">
            <div style="flex-grow:1; min-height:0;height:100%;">
              {{component "groupCheckList"}}
            </div>
            <div>
              <button type="submit" class="button sidebar-button">Apply Groups</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <!--
    <div style="display:flex; flex-direction: column; flex-basis:50%; min-height:0;">
      <div style="margin-bottom:10px;">
        <p class="sidebar-header">
          Filters
        </p>
      </div>
      <div style="flex-grow:1; min-height:0; height:100%; position:relative;">
        <form style="height:100%; min-height:0;">
          <div style="height: 100%; display:flex; flex-direction:column;">
            <div style="flex-grow:1; min-height:0;height:100%;overflow:scroll;">
              <p class="select-label">Model</p>
              <select class="filter" id="filter-model">
                  <option value="any">Any</option>
              </select>
              <p class="select-label">Run Status</p>
              <select class="filter" id="filter-run-status">
                  <option value="any">Any</option>
              </select>
              <p class="select-label">Fuel Level</p>
              <select class="filter" id="filter-run-status">
                  <option value="any">Any</option>
              </select>
            </div>
            <div>
              <button class="button sidebar-button">Apply Filters</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    -->
  </div>
</div>